
html,body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   /* overflow: hidden; */
}


button {
   cursor: pointer;
}
a{
   text-decoration: none;
   color: inherit;
}

b {
   color: white;
}

#canvas {
   /* display: block; */
   margin-top: 50px;
   /* margin-left: auto;
   margin-right: auto; */
   cursor: crosshair;
   border: dashed 5px yellow;
   /* width: 100%; */
   /* height: 100%; */
   
}

#rad {
   width: 35px;
   height: 14px;
   background: grey;
   border: none;
   color: white;
   margin: 3px;
}

#menu {
   padding: 10px;
   height: auto;
   width: 100%;
   top: 0px;
   left: 0px;
   background: #323232;
   position: fixed;
   /* display: block; */
}

#color {
   margin: 0 3px 0;
   width: 25px;
   height: 25px;
   background: none;
   padding: 0;
   border: 1px solid black;
}

#settings {
   float: left;
}

.visually-hidden 
{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.download {
   display: inline-block;
}
